{% extends "pages/base.html" %}
{% load static %}
{% block title %} 
Home
{% endblock %} 
{% block extra_css %}
<link href="{% static 'css/style.css' %}" rel="stylesheet">
{% endblock %}
{% block content %} 
{% comment %} <h1>Xin Chào</h1>
Đây là app home
<nav>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'blog' %}">Blog</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
    </ul>
</nav> {% endcomment %}
{% comment %} home, blog là 2 tên pattern của file urls.py trong app {% endcomment %}






<section class="banner">
    <div class="slider">
        <div class="slide active">
            <img src="{% static "images/china.jpg" %}" alt="china">
            <div class="left-info">
                <div class="penetrate-blur">
                    <h1>Chi</h1>
                </div>
                <div class="content">
                    <h3>01. China Forest Tour</h3>
                    <p>It's really amzing (description of Chine forest)</p>
                    <a href="#" class="btn">More Details</a>
                </div>
            </div>
            <div class="right-info">
                <h1>na</h1>
                <h3>Forest</h3>
            </div>
        </div>

        <div class="slide">
            <img src="{% static "images/japan.jpg" %}" alt="japan">
            <div class="left-info">
                <div class="penetrate-blur">
                    <h1>Jap</h1>
                </div>
                <div class="content">
                    <h3>02. Japan Forest Tour</h3>
                    <p>It's really amzing (description of Chine forest)</p>
                    <a href="#" class="btn">More Details</a>
                </div>
            </div>
            <div class="right-info">
                <h1>an</h1>
                <h3>Forest</h3>
            </div>
        </div>

        <div class="slide">
            <img src="{% static "images/africa.jpg" %}" alt="africa">
            <div class="left-info">
                <div class="penetrate-blur">
                    <h1>Afr</h1>
                </div>
                <div class="content">
                    <h3>03. Africa Forest Tour</h3>
                    <p>It's really amzing (description of Chine forest)</p>
                    <a href="#" class="btn">More Details</a>
                </div>
            </div>
            <div class="right-info">
                <h1>ica</h1>
                <h3>Forest</h3>
            </div>
        </div>

        <div class="slide">
            <img src="{% static "images/brazil.jpg" %}" alt="brazil">
            <div class="left-info">
                <div class="penetrate-blur">
                    <h1>Bra</h1>
                </div>
                <div class="content">
                    <h3>04. Brazil Forest Tour</h3>
                    <p>It's really amzing (description of Chine forest)</p>
                    <a href="#" class="btn">More Details</a>
                </div>
            </div>
            <div class="right-info">
                <h1>zil</h1>
                <h3>Forest</h3>
            </div>
        </div>

        <div class="slide">
            <img src="{% static "images/serbia.jpg" %}" alt="Serbia">
            <div class="left-info">
                <div class="penetrate-blur">
                    <h1>Ser</h1>
                </div>
                <div class="content">
                    <h3>05. Serbia Forest Tour</h3>
                    <p>It's really amzing (description of Chine forest)</p>
                    <a href="#" class="btn">More Details</a>
                </div>
            </div>
            <div class="right-info">
                <h1>bia</h1>
                <h3>Forest</h3>
            </div>
        </div>
    </div>

    <div class="navigation">
        <span class="prev-btn">
            <i class='bx bx-chevron-left' ></i>
        </span>
        <span class="next-btn">
            <i class='bx bx-chevron-right' ></i>
        </span>
    </div>
</section>
<script src="{% static "js/main.js" %}"></script>

{% endblock %}

